body {
  padding-top: 10px;
}

.navbar-brand {
  padding-left: 10px;
}

.form-inline {
  padding: 0px 20px;
}

input.search-query {
  color: #333;
}

.example {
  display: block;
  padding: 0.65rem;
  height: 91%;
  margin: 0.65rem 0;
  overflow: auto;
  max-height: 400px;
  overflow: hidden;
}

.example p.description {
  font-size: smaller;
  margin: 5px 0;
}

.example:hover {
  background-color: #F5F5F5;
}

h3 {
  padding: 1px 20px;
}

#idImgAPICNIG {
  padding: 0px 20px;
}

#navbarID {
  background-color: #ff6c35 !important;
}

.example.bg-light.border.rounded {
  border: 2px solid orangered !important;
  color: #c83802;
}

.example.bg-light.border.rounded:hover {
  color: blue;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: -moz-available;
}