html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#mapaDIV {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Carga */
#cargaSVG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  z-index: 9999;
}

#cargaSVG img {
  width: 80px;
  height: 80px;
}
