.container {
  display: flex;
  flex-direction: column; /* Alinea los elementos de arriba hacia abajo */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */
}


.upload {
  --background: #FFFFFF;
  --text-drop: #CAC8CA;
  --text-upload: #2D2C2F;
  --progress-color: #E7E5E7;
  --check-color: var(--text-upload);
  --border-radius: 30px;
  width: 70%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    border-radius: var(--border-radius);
    border: #e2542b;
    border-radius: 20px;
    border-style: dashed;
    transition:  all .3s ease; 
    box-shadow: var(--shadow-x, 0px) var(--shadow-y, 1px) var(--shadow-blur, 3px) rgba(#000, 0.1);
    transform: scale(var(--scale, 1));
  }
  
  .drop-here {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: var(--border-radius);
    opacity: var(--opacity, 0);
    overflow: hidden;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 1;
  }
  .text {
    position: absolute;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    &.text-drop {
      color: var(--text-drop);
      opacity: var(--opacity, 1);
      transition: opacity .15s ease-out .15s;
    }
    &.text-upload {
      color: var(--text-upload);
      opacity: var(--opacity, 0);
      transition: opacity .15s ease-out;
    }
  }
  .progress-wrapper {
    z-index: -1;
    position: absolute;
    .progress {
      fill: none;
      stroke: var(--progress-color);
      stroke-width: 3;
      stroke-dasharray: 722;
      stroke-dashoffset: 722;
    }
  }
  .check-wrapper {
    position: absolute;
    opacity: var(--opacity, 0);
    transform: scale(var(--scale, .9)) rotate(var(--rotate, 3deg));
    transition: transform .15s ease-in-out, opacity .15s ease-in;
    .check {
      width: 100px;
      width: 100px;
      fill: none;
      stroke: var(--check-color);
      stroke-width: 7;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 100 0;
      stroke-dashoffset: 100;
    }
  }
  .shadow {
    opacity: var(--opacity, 0);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    filter: blur(25px);
    z-index: -1;
    transition: all .5s ease;
    &::before {
      content: '';
      position: absolute;
      top: -25%;
      left: -25%;
      height: 150%;
      width: 150%;
      background: conic-gradient(#4b82d4, #6a29e9, #4b82d4, #6a29e9, #c58357, #FFC940, #4b82d4);
      animation: shadow-animate 5s linear infinite;
    }
  }
  &.drag {
    --scale: 1.03;
    --shadow-y: 5px;
    --shadow-blur: 20px;
  }
  &.drop {
    .text {
      &.text-drop {
        --opacity: 0;
        transition: opacity .15s ease-out;
      }
      &.text-upload {
        --opacity: 1;
        transition: opacity .15s ease-out .15s;
      }
    }
    .shadow {
      --opacity: 1;
    }
    .progress-wrapper {
      opacity: var(--opacity, 1);
      z-index: -1;
      transform: scale(var(--scale, 1)) rotate(var(--rotate, -90deg));
      .progress {
        animation: progress-animate 3s ease .3s forwards;
      }
    }
  }
  &.done {
    --opacity: 0;
    .text {
      &.text-upload {
        --opacity: 0;
      }
    }
    .shadow {
      --opacity: 0;
    }
    .progress-wrapper {
      --scale: .95;
      transition: transform .3s, opacity .3s;
    }
    .check-wrapper {
      --opacity: 1;
      --scale: 1;
      --rotate: 0deg;
      transition: transform .5s ease-in-out .3s, opacity .5s ease-in .3s;
      .check {
        animation: check-animate .5s ease-in-out .3s forwards;
      }
    }
  }
}
.upload:hover::before {
  background-color: #fcf1e9;
}

@keyframes shadow-animate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes progress-animate {
  0% {stroke-dashoffset: 722;}
  20% {stroke-dashoffset: 500;}
  50% {stroke-dashoffset: 322;}
  55% {stroke-dashoffset: 300;}
  100% {stroke-dashoffset: 0;}
}

@keyframes check-animate {
  0% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 100 0;
    stroke-dashoffset: 100;
  }
}


/* 7 */
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 90%;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }