.m-herramienta-container_cambImpl {
  top: 20px;
  left: 600px;
}


.buttonHerramienta_cambImpl {
  border: 2px solid var(--g-plugin-border-color, #FFF) !important;
  border-radius: 50% !important;
  background-color: var(--g-plugin-bg-color, orangered) !important;
}

.buttonHerramienta_cambImpl:before {
  /*  icono a usar */
  content: "🌐";
  font-size: 22px;
  font-family: none;
  color: var(--g-plugin-icon-color, #FFF) !important;
}


.buttonHerramienta_cambImpl.activated {
  border: 2px solid var(--g-plugin-border-color-active, #71A7D3) !important;
  border-radius: 50% !important;
  background-color: var(--g-plugin-bg-color-active, #ffffff) !important;

}

.buttonHerramienta_cambImpl.activated:before {
  color: var(--g-plugin-icon-color-active, #71A7D3) !important;
}